<h1> Biddr </h1>
<hr>
<h1> Create New Auction </h1>
<%= simple_form_for @auction, html: { class: "form-horizontal" } do |f| %>
  <%= f.input :title %>
  <%= f.input :details %>
  <%= f.input :ending_date %>
  <%= f.input :reserve_price %>
  <%= f.submit "Save", class: "btn btn-default" %>
  <% end %>